@define-color rosewater       #f5e0dc;
@define-color flamingo        #f2cdcd;
@define-color pink            #f5c2e7;
@define-color mauve           #cba6f7;
@define-color red             #f38ba8;
@define-color maroon          #eba0ac;
@define-color peach           #fab387;
@define-color yellow          #f9e2af;
@define-color green           #a6e3a1;
@define-color teal            #94e2d5;
@define-color sky             #89dceb;
@define-color sapphire        #74c7ec;
@define-color blue            #89b4fa;
@define-color lavender        #b4befe;
@define-color text            #cdd6f4;
@define-color subtext1        #bac2de;
@define-color subtext0        #a6adc8;
@define-color overlay2        #9399b2;
@define-color overlay1        #7f849c;
@define-color overlay0        #6c7086;
@define-color surface2        #585b70;
@define-color surface1        #45475a;
@define-color surface0        #313244;
@define-color base            #1e1e2e;
@define-color mantle          #181825;
@define-color crust           #11111b;
/* @import "theme.css"; */

* {
    min-height: 0;
    border: none;
    margin: 0;
    padding: 0;
    /* font-family: "NotoSansM Nerd Font"; */
    /* font-family: "Monaspace Krypton"; */
    font-family: "Departure Mono";
    /* font-family: "Monocraft Nerd Font"; */
    font-size: 16px;
    font-weight: 600;
}

box#life,
box#controls,
box#connections,
box#usage,
box#state,
#workspaces,
#clock
{
    background: @crust;
    /* border: 2px solid @surface2; */
    border: 2px solid @crust;
    padding: 0 8px;
    border-radius: 8px
}


#cpu {
    letter-spacing: 4px;
    min-width: 160px;
}

/* box#life:hover, */
/* box#controls:hover, */
/* box#connections:hover, */
/* #workspaces:hover, */
/* #clock:hover */
/* { */
/*     transition-duration: 500ms; */
/*     background: @base; */
/*     border: 2px solid @overlay2; */
/* } */





/* .modules-right { */
/*     gap: 30px; */
/* } */

window#waybar>box {
    margin: 4px 8px 0 8px;
}


window#waybar {
    background: none;
}

#workspaces {
    padding: 0;
}

#workspaces button {
    padding: 4px;
    color: @overlay0;
}

#workspaces button.active {
    background: @base;
    color: @lavender;
    border-radius: 8px;
}

#workspaces button.empty {
    color: @surface0;
}

#workspaces button.empty.active {
    color: @subtext0;
}



#backlight  {
    color: @lavender
}



#disk  {
    color: @subtext0
}

#memory  {
    color: @lavender
}





#pulseaudio  {
    color: @lavender
}


#pulseaudio.muted  {
    color: @overlay0
}

#network 
{
    color: @lavender
}

#network.disabled,
#network.disconnected
{
    color: @overlay0
}




#bluetooth.disabled,
#bluetooth.off
{
    color: @overlay0;
}

#bluetooth.no-controller 
{
    color: @overlay2;
}

#bluetooth,
#bluetooth.on
{
    color: @subtext0;
}

#bluetooth.connected,
#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
    color: @blue;
}





#battery.charging {
    color: @lavender;
}

#battery {
    color: @lavender;
    border-radius: 8px;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background: @red;
    color: @crust;
  }
}



#temperature {
    color: @subtext0;
}

#temperature.critical {
    color: @red;
}

#cpu {
    color: @text;
}







#clock  {
    color: @subtext0;
}


